/* BerryRotunda, sans-serif (gut lesbares Blackletter) */

@font-face {
  font-family: BerryRotunda;
  font-style: normal;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/RabenFlueh/Fonts-Others/3b3583f3e0958a5e2a293e23467cde7ba5189fe2/Berry%20Rotunda.ttf);
}




/* Chomsky, sans-serif (eckig/schäleres Blackletter) */

@font-face {
  font-family: Chomsky;
  font-style: normal;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/RabenFlueh/Fonts-Others/58ff3a5910409ebe9ac39d0903d8ac1447b092c1/Chomsky.woff2);
}





/* Friedolin, sans-serif (leicht wilderes Blackletter) */

@font-face {
  font-family: Friedolin;
  font-style: normal;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/RabenFlueh/Fonts-Others/781fe3e100127b6f34450be4e485b85975a26459/Friedolin.ttf);
}





